body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    perspective: 1000px;
}

/* .card {
    text-align: center;
    width: 242px;
    background-color: aqua;
    padding: 2rem;
    border-radius: 6px;
    transform: rotateY(42deg);
} */

.card {
    width: 250px;
    padding: 2rem;
    border-radius: 6px;
    aspect-ratio: 1/1;
    background-image: url(./904b8f47-539b-4b4f-a624-fdba8c3b2efa.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    backface-visibility: visible;
    
    transform: translateZ(-500px) rotateY(10turn) scale(1);
    transition: all 1s ease-in-out ;
}

.card:hover {
    transform: translateZ(10px) rotateY(90deg) scale(3);
}