@font-face {
    font-family: 'Inter-Regular';
    src: url() format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url() format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}