:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: #1B1B1B;
    --accent-color: #1664EA;
}

[data-theme="dark"] {
    --bg-color: #303030;
    --text-color: #ffffff;
    --accent-color: #1664EA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--bg-color);
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 60px;
}


.nav-container{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
    text-align: center;
}

.contact {
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
}

.button{
    color: var(--text-color);
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.abo{
    margin-left: 55px;
    margin-top: 55px;
    color: #5c575791;
    letter-spacing: 2px;
}
h2{
    margin-left: 55px;
    margin-top: 25px;
}

span{
    color: #1664EA;
}

.hi{
    margin-left: 55px;
    margin-top: 10px;
}

.me{
    margin-left: 55px;
    margin-top: 55px;
    color: #000000;
}