.grid-conteiner {
    display: grid;
    border: 2px solid red;
    padding: 1rem;
    /* gap: 1rem; */
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 142px 242px;

    grid-template-areas: 
    'header header header'
    'sidebar main main'
    'sidebar main main';
}

.grid-item {
    background-color: bisque;
    padding: 1rem;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.grid-conteiner2 {
    display: grid;
    border: 2px solid red;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: 200px;
}

.large {
    background-color: aqua;
    grid-column: 1/3;
}


/* .large {
    background-color: blueviolet;
    color: white;
    grid-column: 2span;
} */