body {
    background-color: var(--main-light-color);
}

.about_me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 382px;
    margin-left: var(--margin-base);
    margin: var(--margin-t-b);

    background-color: var(--main-light-color);
    color: var(--main-text-color);
}

.about_opacity{
    font-family: "Inter-Regular";
    font-size: var(--opacity_text_size);
    text-transform:  uppercase;
    letter-spacing: 2px;
    opacity: .7;
}

.about_big{
    font-family: "Inter-Bold";
    font-size: 38px;
    margin-bottom: 20px;
}

.about_text {
    font-family: "Inter-Regular";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-base);
    width: 500px;
    height: 382px;
}

.blue_text{
    color: var(--main-accent-color);
}

.text_main {
    justify-content: center;
}

.photo_conteiner {
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 382px;
}

.my_photo1 {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 382px;
}

.my_photo2 {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    width: 400px;
    height: 382px;
}

.media {
    display: flex;
    align-items: center;
    gap: 20px;
}


